#sub7view{
    width: 100%;
    #section1{
        width: 100%;
        padding: 50px 0 100px 0;
        .container{
            width: 100%;
            max-width: 1050px;
            margin: 0 auto;
            .title{
                width: 100%;
                text-align: center;
                padding: 50px 0;
                h2{
                    font-size: 28px;
                    font-weight: 600;
                    color: #333;
                }
                h3{
                    padding: 10px 0 0 0;
                    font-size: 14px;
                    color: #999;
                }
            }
            .content{
                width: 100%;
                .view-box{
                    width: 100%;
                    padding: 0 0 100px 0;
                    border-top: 2px solid #000;
                    border-bottom: 1px solid #ddd;
                    >ul{
                        width: 100%;
                        >li{
                            width: 100%;
                            ul{
                                width: 100%;
                                li{
                                    width: 100%;
                                    display: flex;
                                    border-bottom: 1px solid #ddd;
                                    >div{
                                        height: 44px;
                                        display: flex;
                                        align-items: center;
                                        font-size: 14px;
                                        &.left{
                                            width: 130px;
                                            background: #f7f7f7;
                                            padding: 0 0 0 20px;
                                            strong{
                                                color: #333;
                                                font-weight: 500;
                                            }
                                        }
                                        &.right{
                                            width: 900px;
                                            p{
                                                color: #666;
                                                padding: 0 0 0 25px;
                                            }
                                        }
                                    }
                                }
                            }
                            .gap{
                                padding: 20px;
                                .contents{
                                    p{
                                        line-height: 22px;
                                        font-size: 14px;
                                        color: #666;
                                        width: 100%;
                                        padding: 7px 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .button-box{
                    width: 100%;
                    padding: 20px 0 0 0;
                    text-align: center;
                    button{
                        width: 140px;
                        height: 52px;
                        background: #5f0080;
                        border-radius: 3px;
                        color: #fff;
                        font-size: 14px;
                        margin: 0 10px 0 0;
                        cursor: pointer;
                        transition: all 0.3s;
                        &:hover{
                            opacity: 0.9;
                        }
                    }
                }
            }
        }

    }
}